<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Initialize the HPC Configuration Handler  -->
    <sectionGroup name="HPC">
      <section name="infor" type="HPCShareDLL.ConfigurationHandler, HPCShareDLL"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SlotsOracle" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.29.187.90)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PDBORCL)));User Id=ATFM;Password=123456;"/>
    <add name="TracksPostgres" providerName="Npgsql" connectionString="Host=172.29.187.90;Port=5432;Database=postgres;Username=postgres;Password=postgres;Timeout=15;Command Timeout=30;Pooling=true;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <customErrors mode="Off" defaultRedirect="Errors/ErrorPage.htm"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=CC7B13FFCD2DDD51"/>
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="1000000" maxRequestLength="2097151"/>
    <httpHandlers>
      <add verb="*" path="BusyBoxDotNet.axd" type="BusyBoxDotNet.ResourceHttpHandler, BusyBoxDotNet"/>
    </httpHandlers>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <httpModules>
      <add name="prjComponents" type="prjComponents.HttpHandler, prjComponents"/>
      <!-- BEGIN: Microsoft ASP.NET AJAX -->
      <!-- END: Microsoft ASP.NET AJAX -->
      <!--<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
    </httpModules>
    <membership defaultProvider="FlashUploadProvider">
      <providers>
        <add name="FlashUploadProvider" type="CustomMembership"/>
      </providers>
    </membership>
    <authentication mode="Forms"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="104857600" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="UploadMulti/Upload.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FinishFlights/BravoComparison.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UploadMulti/UploadAds.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Products/UploadProducts.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Article/Handler.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Albums/UploadImgMulti.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Until/UploadImg.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UploadVideos/UploadVideos.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UploadVideos/UploadQcao.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Khoanh/UploadToStock.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <!-- Nen noi dung tinh va cho phep trinh duyet cache tai nguyen tinh trong 30 ngay. -->
    <urlCompression doStaticCompression="true"/>
    <staticContent>
      <remove fileExtension=".geojson"/>
      <mimeMap fileExtension=".geojson" mimeType="application/geo+json"/>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="APIEmail" value="http://172.29.79.49:8081/api/reports/emails"/>
      <add key="APIEmailJobs" value="http://172.29.79.49:8081/api/jobs/"/>
      <add key="APIIncoming" value="http://172.29.79.49:8081/api/reports/incoming"/>
      <add key="APIAI" value="http://172.29.79.49:8000/api/reports/ai"/>
      <add key="FlightTrackingApiBaseUrl" value="http://127.0.0.1:5088" />
      <add key="FlightTrackingApiTimeoutSeconds" value="10" />
      <add key="ATFM_API_KEY" value="" />
      <add key="APIKey" value="i3VnwkEuvdgWQyXOCoNDG3bQVnPNzycuAkbZLUC-yo8" />
      <add key="ServerPathDis" value="E:\CMS\upload"/>
      <add key="Path_Replate" value="http://192.168.1.5"/>
      <add key="UploadPath" value="/imagesbidv/"/>
      <!--Folder upload gallary-->
      <add key="UploadPhotoAlbum" value="UploadPhotoAlbum"/>
      <!--Default Combobox-->
      <add key="DefaultCombobox" value="1"/>
      <!--END-->
      <!--Default VNPResizeImages-->
      <add key="VNPResizeImages" value="665"/>
      <!--END-->
      <!--Default Rezie In Content-->
      <add key="VNPResizeContent" value="490"/>
      <!--END-->
      <!--Folder upload galary event-->
      <add key="UploadPhotoEvent" value="PhotoEvent"/>
      <!--END-->
      <add key="DefaultLangID" value="2"/>
      <add key="DefaultSourceRss" value="3"/>
      <add key="HPCOnmouseoverGrid" value="#B9E0E9"/>
      <add key="HPCOnmouseoverOut" value="white"/>
      <add key="DataDynamicsARLic" value="RGN,RGN Warez Group,DD-APN-30-C01339,O44S9F949SWM749HSHF8"/>
      <add key="MembersPerPage" value="15"/>
      <add key="PortalID" value="1"/>
      <add key="defaultLanguage" value="vi-VN"/>
      <add key="ApplicationPath" value="http://localhost/atfm"/>
      <!--<add key="ApplicationPath" value="https://192.168.62.20:8081" />-->
      <!-- API tu xa tam thoi chua co GetPage/MarkRead cho notification. -->
      <add key="applicationpath.api" value="http://172.29.79.49:5176/"/>
      <!--<add key="applicationpath.api" value="http://192.168.63.20/API/" />-->
      <!--<add key="ApplicationPath.API" value="http://221.133.18.92:8181/" />-->
      <add key="tinpath" value="http://192.168.62.20:2121/"/>
      <add key="ATMPATH" value="http://192.168.62.20:8668/upload/ShareATM/"/>
      <add key="FileUploadPathMB" value="c:\\upload\\ShareATM\\MB\\"/>
      <add key="FileUploadPathMN" value="c:\\upload\\ShareATM\\MN\\"/>
      <add key="FileUploadPathMT" value="c:\\upload\\ShareATM\\MT\\"/>
      <add key="tinpathFTP" value="ftp://localhost/"/>
      <add key="configFile" value="~/App_Data/PortalSettings.xml"/>
      <add key="MailCategory" value="20"/>
      <!--BEGIN MAIL-->
      <add key="Smtp_Server" value="smtp.gmail.com"/>
      <add key="Smtp_Server_port" value="25"/>
      <add key="Smtp_Server_RequireAuthen" value="true"/>
      <add key="WatermarkImages" value="0"/>
      <add key="SpaceValue" value="10"/>
      <add key="AutoProcessReszie" value="1"/>
      <add key="TagHtmlNotRemove" value="img|p|br|sup|sub|a|i|b|em|div"/>
      <add key="ApplicationName" value="CMSSANNONGSAN"/>
      <!--value:1 Đóng dấu và Resize ảnh;value:0 Resize ảnh Không đóng dấu;-->
      <!--Download Ảnh px-->
      <add key="Min_With" value="100"/>
      <add key="Min_height" value="100"/>
      <!--Report gia Tri 1: Dùng Fix: 0 Không dùng-->
      <add key="ReportFix" value="1"/>
      <!---End Cache-->
      <add key="MultimediaPath" value="http://192.168.1.8/atfm"/>
      <!--FTP HOST UPLOAD-Gia Tri 1: Dùng FTP: 0 Không dùng FTP-->
      <add key="UseUpload_FTP" value="1"/>
      <add key="FTP_NameServer" value="ftp://192.168.1.8/"/>
      <add key="Username_FTP" value="administrator"/>
      <add key="Password_FTP" value="Abc123@"/>
      <!--BEGIN UPLOAD-->
      <!--BEGIN REPORT-->
      <add key="CompanyName" value="TỔNG CÔNG TY QUẢN LÝ BAY VIỆT NAM"/>
      <add key="CenterName" value="TRUNG TÂM QUẢN LÝ LUỒNG KHÔNG LƯU"/>
    </appSettings>
  </location>
  <HPC>
    <infor defaultProvider="HPCDataProvider" defaultFtp="FtpInfor" defaultLanguage="vi" defaultSkin="default" filesPath="/" message="~/Msgs/default.aspx?MessageID={0}" title="HỆ THỐNG QUẢN TRỊ WEBSITE" pagesize="10" path_IP="http://192.168.1.202" uploadPath="/Upload" pathfileupload="/Upload" pathfilemanager="D:\QUYNX\Projects\BNN\TSDT\Upload" address_documents="http://haivh" data_documents="server=192.168.1.4;database=BNN_EDITOR;uid=sa;pwd=;App=HPC">
      <providers>
        <clear/>
        <add name="HPCDataProvider" type="HPCServerDataAccess.BaseClass, HPCServerDataAccess" connectionString="server=221.133.18.92,1433\SQL2014;database=QLBENXE;uid=qlb;pwd=123456;App=HPC" databaseOwner="dbo" commandTimeout="1200"/>
      </providers>
      <ftp>
        <clear/>
        <add name="FtpInfor" address="192.168.1.113" user="HPC" pass="HPC" forder="VBPQ" port="2020"/>
      </ftp>
    </infor>
  </HPC>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="25" userName="ctienbo@gmail.com" password="" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.1.0" newVersion="1.5.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
